*{
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  font-family: 'Open Sans';
  overflow: hidden;
  background-size: cover;
}
#friends_column{
  height: 100vh;
  width: 22vw;
  padding: 10px;
  background-color: rgba(124, 106, 106, 0.499);
  border-right: 2px solid black;
  overflow-y: hidden;
}

.second_column{
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.header_row{
  height: 10%;
  background-color: red;
  border-bottom: 2px solid black;
}

.message_contents{
  height: 90%;
}
.header_row, .message_contents{
  width: 100vw;
  background-size: cover;
  padding: 8px;
}

/* make both row take all viewport width */




