/* structure of a modal */
/* .header_button_modal{
  color: gainsboro;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;  
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
} */

#request_modal_container{
  height: 20vh;
  padding: 8px 10px;
}
#request_modal_content{
  height: 65vh;
  width: 50vw;
  background-color: rgb(104, 104, 104);
  margin: 5% auto;
  padding: 8px;
  border-radius: 10px;
}
.close_request_modal{
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  /* transition: ; */
}
.close_request_modal:hover,
.close_request_modal:focus {
  color: gainsboro;
  text-decoration: none;
  cursor: pointer;
  filter: brightness(150%);
}
.modal_title_container{
  display: flex;
  margin: 3vh 10vw;
  justify-content: center;
}
.modal_title{
}

#requests{
  display: flex;
  justify-content: center;
  padding: 1vh;
}
#requests_container{
  display: flex;
  flex-direction: column;
  height: 45vh;
  width: 43vw;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 8px 10px;
  box-shadow: inset 0px 0px 3px grey;
  overflow-y: auto;
  background-color: inherit;
}
#requests_container::-webkit-scrollbar{
  width: 1vw;
}

#requests_container::-webkit-scrollbar-track,
#requests_container::-webkit-scrollbar-thumb{
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.dp_username_container{
  height: 8vh;
  display: flex;
  align-items: center;
  width: 25vw;
}
.requests_dp img{
  height: 6vh;
}

.accept_button_container{
  display: flex;
  align-items: center;
}

.accept_button_container button {
  height: 6vh;
  width: 6vw;
  margin: 0px 0.5vw;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(13, 199, 44);
  color: white;
  transition: filter 0.3s ease ;
}
.accept_button_container button:hover,
.accept_button_container button:focus{
  filter: brightness(125%);
  cursor: pointer;
}

#decline_button{
  height: 6vh;
  width: 6vw;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgb(201, 13, 13);
  color: white;
  transition: filter 0.3s ease ;
}