@import url(dashboard.css);


#search_container{
  position: relative;
  display: flex;
  justify-content: center;
  width: 22vw;
  margin-bottom: 8px;
}

#searchInput {
  height: 7vh;
  width: 21vw;
  font-size: inherit; 
  background-color: rgb(82, 80, 80);
  border: none;
  outline: none;
  padding-left: 1vw;
}
#searchInput::placeholder {
  color: gainsboro;
}
#image_label{
  padding-left: 3px;
  padding-right: 4px;
  width: 22px;
}
#searchLabel{
  display: flex;
  position: absolute;
  top: 12px;
  left: 10px;
  font-size: inherit;
  color: #333;
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}
#text_label, #image_label{
  color: gainsboro;
  position: relative;
  top: -5px;
  font-size: 17px;
  cursor: text;
}
#searchInput:focus + #searchLabel, #searchInput:not(:placeholder-shown) + #searchLabel {
  top: -21px;
  font-size: 19px;
  color: #333;
}
.search-placeholder {
  display: none;
}
#searchInput:focus + .search-placeholder {
  display: inline-block;
}

input[type="text"] {
  color: gainsboro; 
}