#hidden_panel {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  z-index: 1;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: gainsboro;
  overflow: auto;
}

#hidden_panel_content{
  position: fixed;
  right: 0px;
  top: 10vh;
  height: 80vh;
  width: 30vw;
  padding: 8px 10px;
  background-color: rgb(107, 107, 107);
  border: 1px solid gainsboro;
  border-radius: 20px;
  transition: right 0.3s ease-in-out;
  overflow-y: auto;
}

#ellipsis {
  pointer-events: none;
}

#hidden_panel_container{
  padding: 2vh;
}
/* #hidden_panel_title_container{
  display: flex;
  justify-content: center;
} */
#hidden_panel_image_container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;
  width: 10vw;
  margin: 3vh auto;
  margin-bottom: unset;
}
#hidden_panel_image{
}
#hidden_panel_image img{
  height: 17vh;
  width: 7.7vw;
  border-radius: 50%;
}
#circle{
  position: relative;
  bottom: 24px;
  left: 78px;
  height: 15px;
  width: 15px;
  background-color: rgb(0, 182, 0);
  z-index: 1;
  border-radius: 50%;
}
#hidde_panel_friend_name_placeholder{
  display: flex;
  justify-content: center;
  height: 5vh;
  width: 15vw;
  margin: 0px auto;
}

#hidden_panel_tbl_container_asRow{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3vh;
  padding: 10px;
  text-align: left;
}
#hidden_panel_table_container_left, #hidden_panel_table_container_right{
  
}
#hidden_panel_friend_bio_container label{
  display: flex;
  padding-top: 1vh;
  padding-left: 27px;
  font-size: 18px;
  cursor: text;
}
#hidden_pannel_center_bio{
  display: flex;
  justify-content: center;
}
#hidden_panel_friend_bio_container textarea{
  margin: 0px auto;
  margin-bottom: 1vh;
  padding: 8px 10px;
  color: gainsboro;
  font-size: 16px;
  font-family: 'Open Sans';
  font-style: italic;
  border-top-left-radius: 0px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border: none;
  outline: none;
  background-color: rgb(119, 119, 119);
  pointer-events: none;
}

.hidden_panel_options{
  display: flex;
  align-items: center;
  margin: 0.5vh 1.8vw;
  padding: 8px 10px;
  background-color: inherit;
  background-color: rgba(0, 0, 0, 0.1);
  transition: filter 0.3s ease;

}
.hidden_panel_options button{
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);;
  border: none;
  outline: none;
  color: gainsboro;
}
.hidden_panel_options:hover, .hidden_panel_options:focus{
  background-color: rgba(0, 0, 0, 0.4);
}

.hidden_panel_options img{
  margin-right: 10px;
  height: 3.4vh;
  background-color: transparent;
  mix-blend-mode: multiply;
}